*.iml
/Laba1/.gradle
/Laba1/local.properties
/Laba1/.idea/caches
/Laba1/.idea/libraries
/Laba1/.idea/modules.xml
/Laba1/.idea/workspace.xml
/Laba1/.idea/navEditor.xml
/Laba1/.idea/assetWizardSettings.xml
/Laba1/.DS_Store
/Laba1/build
/Laba1/captures
/Laba1/.externalNativeBuild
/Laba1/.cxx

/Laba2/.gradle
/Laba2/local.properties
/Laba2/.idea/caches
/Laba2/.idea/libraries
/Laba2/.idea/modules.xml
/Laba2/.idea/workspace.xml
/Laba2/.idea/navEditor.xml
/Laba2/.idea/assetWizardSettings.xml
/Laba2/.DS_Store
/Laba2/build
/Laba2/captures
/Laba2/.externalNativeBuild
/Laba2/.cxx

/Laba3/.gradle
/Laba3/local.properties
/Laba3/.idea/caches
/Laba3/.idea/libraries
/Laba3/.idea/modules.xml
/Laba3/.idea/workspace.xml
/Laba3/.idea/navEditor.xml
/Laba3/.idea/assetWizardSettings.xml
/Laba3/.DS_Store
/Laba3/build
/Laba3/captures
/Laba3/.externalNativeBuild
/Laba3/.cxx

/Laba4/.gradle
/Laba4/local.properties
/Laba4/.idea/caches
/Laba4/.idea/libraries
/Laba4/.idea/modules.xml
/Laba4/.idea/workspace.xml
/Laba4/.idea/navEditor.xml
/Laba4/.idea/assetWizardSettings.xml
/Laba4/.DS_Store
/Laba4/build
/Laba4/captures
/Laba4/.externalNativeBuild
/Laba4/.cxx

/Laba5/.gradle
/Laba5/local.properties
/Laba5/.idea/caches
/Laba5/.idea/libraries
/Laba5/.idea/modules.xml
/Laba5/.idea/workspace.xml
/Laba5/.idea/navEditor.xml
/Laba5/.idea/assetWizardSettings.xml
/Laba5/.DS_Store
/Laba5/build
/Laba5/captures
/Laba5/.externalNativeBuild
/Laba5/.cxx

/Laba6/.gradle
/Laba6/local.properties
/Laba6/.idea/caches
/Laba6/.idea/libraries
/Laba6/.idea/modules.xml
/Laba6/.idea/workspace.xml
/Laba6/.idea/navEditor.xml
/Laba6/.idea/assetWizardSettings.xml
/Laba6/.DS_Store
/Laba6/build
/Laba6/captures
/Laba6/.externalNativeBuild
/Laba6/.cxx

/Laba7/.gradle
/Laba7/local.properties
/Laba7/.idea/caches
/Laba7/.idea/libraries
/Laba7/.idea/modules.xml
/Laba7/.idea/workspace.xml
/Laba7/.idea/navEditor.xml
/Laba7/.idea/assetWizardSettings.xml
/Laba7/.DS_Store
/Laba7/build
/Laba7/captures
/Laba7/.externalNativeBuild
/Laba7/.cxx

/Laba8/.gradle
/Laba8/local.properties
/Laba8/.idea/caches
/Laba8/.idea/libraries
/Laba8/.idea/modules.xml
/Laba8/.idea/workspace.xml
/Laba8/.idea/navEditor.xml
/Laba8/.idea/assetWizardSettings.xml
/Laba8/.DS_Store
/Laba8/build
/Laba8/captures
/Laba8/.externalNativeBuild
/Laba8/.cxx

/Laba9/.gradle
/Laba9/local.properties
/Laba9/.idea/caches
/Laba9/.idea/libraries
/Laba9/.idea/modules.xml
/Laba9/.idea/workspace.xml
/Laba9/.idea/navEditor.xml
/Laba9/.idea/assetWizardSettings.xml
/Laba9/.DS_Store
/Laba9/build
/Laba9/captures
/Laba9/.externalNativeBuild
/Laba9/.cxx

/Laba10/.gradle
/Laba10/local.properties
/Laba10/.idea/caches
/Laba10/.idea/libraries
/Laba10/.idea/modules.xml
/Laba10/.idea/workspace.xml
/Laba10/.idea/navEditor.xml
/Laba10/.idea/assetWizardSettings.xml
/Laba10/.DS_Store
/Laba10/build
/Laba10/captures
/Laba10/.externalNativeBuild
/Laba10/.cxx

/Laba11/.gradle
/Laba11/local.properties
/Laba11/.idea/caches
/Laba11/.idea/libraries
/Laba11/.idea/modules.xml
/Laba11/.idea/workspace.xml
/Laba11/.idea/navEditor.xml
/Laba11/.idea/assetWizardSettings.xml
/Laba11/.DS_Store
/Laba11/build
/Laba11/captures
/Laba11/.externalNativeBuild
/Laba11/.cxx

/Laba12/.gradle
/Laba12/local.properties
/Laba12/.idea/caches
/Laba12/.idea/libraries
/Laba12/.idea/modules.xml
/Laba12/.idea/workspace.xml
/Laba12/.idea/navEditor.xml
/Laba12/.idea/assetWizardSettings.xml
/Laba12/.DS_Store
/Laba12/build
/Laba12/captures
/Laba12/.externalNativeBuild
/Laba12/.cxx

/Laba13/.gradle
/Laba13/local.properties
/Laba13/.idea/caches
/Laba13/.idea/libraries
/Laba13/.idea/modules.xml
/Laba13/.idea/workspace.xml
/Laba13/.idea/navEditor.xml
/Laba13/.idea/assetWizardSettings.xml
/Laba13/.DS_Store
/Laba13/build
/Laba13/captures
/Laba13/.externalNativeBuild
/Laba13/.cxx

/Laba14/.gradle
/Laba14/local.properties
/Laba14/.idea/caches
/Laba14/.idea/libraries
/Laba14/.idea/modules.xml
/Laba14/.idea/workspace.xml
/Laba14/.idea/navEditor.xml
/Laba14/.idea/assetWizardSettings.xml
/Laba14/.DS_Store
/Laba14/build
/Laba14/captures
/Laba14/.externalNativeBuild
/Laba14/.cxx

/Laba15/.gradle
/Laba15/local.properties
/Laba15/.idea/caches
/Laba15/.idea/libraries
/Laba15/.idea/modules.xml
/Laba15/.idea/workspace.xml
/Laba15/.idea/navEditor.xml
/Laba15/.idea/assetWizardSettings.xml
/Laba15/.DS_Store
/Laba15/build
/Laba15/captures
/Laba15/.externalNativeBuild
/Laba15/.cxx

/Laba16/.gradle
/Laba16/local.properties
/Laba16/.idea/caches
/Laba16/.idea/libraries
/Laba16/.idea/modules.xml
/Laba16/.idea/workspace.xml
/Laba16/.idea/navEditor.xml
/Laba16/.idea/assetWizardSettings.xml
/Laba16/.DS_Store
/Laba16/build
/Laba16/captures
/Laba16/.externalNativeBuild
/Laba16/.cxx

/Laba17/.gradle
/Laba17/local.properties
/Laba17/.idea/caches
/Laba17/.idea/libraries
/Laba17/.idea/modules.xml
/Laba17/.idea/workspace.xml
/Laba17/.idea/navEditor.xml
/Laba17/.idea/assetWizardSettings.xml
/Laba17/.DS_Store
/Laba17/build
/Laba17/captures
/Laba17/.externalNativeBuild
/Laba17/.cxx

/Laba18/.gradle
/Laba18/local.properties
/Laba18/.idea/caches
/Laba18/.idea/libraries
/Laba18/.idea/modules.xml
/Laba18/.idea/workspace.xml
/Laba18/.idea/navEditor.xml
/Laba18/.idea/assetWizardSettings.xml
/Laba18/.DS_Store
/Laba18/build
/Laba18/captures
/Laba18/.externalNativeBuild
/Laba18/.cxx

/Laba19/.gradle
/Laba19/local.properties
/Laba19/.idea/caches
/Laba19/.idea/libraries
/Laba19/.idea/modules.xml
/Laba19/.idea/workspace.xml
/Laba19/.idea/navEditor.xml
/Laba19/.idea/assetWizardSettings.xml
/Laba19/.DS_Store
/Laba19/build
/Laba19/captures
/Laba19/.externalNativeBuild
/Laba19/.cxx

/Laba20/.gradle
/Laba20/local.properties
/Laba20/.idea/caches
/Laba20/.idea/libraries
/Laba20/.idea/modules.xml
/Laba20/.idea/workspace.xml
/Laba20/.idea/navEditor.xml
/Laba20/.idea/assetWizardSettings.xml
/Laba20/.DS_Store
/Laba20/build
/Laba20/captures
/Laba20/.externalNativeBuild
/Laba20/.cxx

/Laba21/.gradle
/Laba21/local.properties
/Laba21/.idea/caches
/Laba21/.idea/libraries
/Laba21/.idea/modules.xml
/Laba21/.idea/workspace.xml
/Laba21/.idea/navEditor.xml
/Laba21/.idea/assetWizardSettings.xml
/Laba21/.DS_Store
/Laba21/build
/Laba21/captures
/Laba21/.externalNativeBuild
/Laba21/.cxx

/Laba22/.gradle
/Laba22/local.properties
/Laba22/.idea/caches
/Laba22/.idea/libraries
/Laba22/.idea/modules.xml
/Laba22/.idea/workspace.xml
/Laba22/.idea/navEditor.xml
/Laba22/.idea/assetWizardSettings.xml
/Laba22/.DS_Store
/Laba22/build
/Laba22/captures
/Laba22/.externalNativeBuild
/Laba22/.cxx

/Laba23/.gradle
/Laba23/local.properties
/Laba23/.idea/caches
/Laba23/.idea/libraries
/Laba23/.idea/modules.xml
/Laba23/.idea/workspace.xml
/Laba23/.idea/navEditor.xml
/Laba23/.idea/assetWizardSettings.xml
/Laba23/.DS_Store
/Laba23/build
/Laba23/captures
/Laba23/.externalNativeBuild
/Laba23/.cxx

/Laba24/.gradle
/Laba24/local.properties
/Laba24/.idea/caches
/Laba24/.idea/libraries
/Laba24/.idea/modules.xml
/Laba24/.idea/workspace.xml
/Laba24/.idea/navEditor.xml
/Laba24/.idea/assetWizardSettings.xml
/Laba24/.DS_Store
/Laba24/build
/Laba24/captures
/Laba24/.externalNativeBuild
/Laba24/.cxx

/Laba25/.gradle
/Laba25/local.properties
/Laba25/.idea/caches
/Laba25/.idea/libraries
/Laba25/.idea/modules.xml
/Laba25/.idea/workspace.xml
/Laba25/.idea/navEditor.xml
/Laba25/.idea/assetWizardSettings.xml
/Laba25/.DS_Store
/Laba25/build
/Laba25/captures
/Laba25/.externalNativeBuild
/Laba25/.cxx

/Laba26/.gradle
/Laba26/local.properties
/Laba26/.idea/caches
/Laba26/.idea/libraries
/Laba26/.idea/modules.xml
/Laba26/.idea/workspace.xml
/Laba26/.idea/navEditor.xml
/Laba26/.idea/assetWizardSettings.xml
/Laba26/.DS_Store
/Laba26/build
/Laba26/captures
/Laba26/.externalNativeBuild
/Laba26/.cxx

/Laba27/.gradle
/Laba27/local.properties
/Laba27/.idea/caches
/Laba27/.idea/libraries
/Laba27/.idea/modules.xml
/Laba27/.idea/workspace.xml
/Laba27/.idea/navEditor.xml
/Laba27/.idea/assetWizardSettings.xml
/Laba27/.DS_Store
/Laba27/build
/Laba27/captures
/Laba27/.externalNativeBuild
/Laba27/.cxx

/Laba28/.gradle
/Laba28/local.properties
/Laba28/.idea/caches
/Laba28/.idea/libraries
/Laba28/.idea/modules.xml
/Laba28/.idea/workspace.xml
/Laba28/.idea/navEditor.xml
/Laba28/.idea/assetWizardSettings.xml
/Laba28/.DS_Store
/Laba28/build
/Laba28/captures
/Laba28/.externalNativeBuild
/Laba28/.cxx

/Laba29/.gradle
/Laba29/local.properties
/Laba29/.idea/caches
/Laba29/.idea/libraries
/Laba29/.idea/modules.xml
/Laba29/.idea/workspace.xml
/Laba29/.idea/navEditor.xml
/Laba29/.idea/assetWizardSettings.xml
/Laba29/.DS_Store
/Laba29/build
/Laba29/captures
/Laba29/.externalNativeBuild
/Laba29/.cxx

/Laba30/.gradle
/Laba30/local.properties
/Laba30/.idea/caches
/Laba30/.idea/libraries
/Laba30/.idea/modules.xml
/Laba30/.idea/workspace.xml
/Laba30/.idea/navEditor.xml
/Laba30/.idea/assetWizardSettings.xml
/Laba30/.DS_Store
/Laba30/build
/Laba30/captures
/Laba30/.externalNativeBuild
/Laba30/.cxx

/Laba31/.gradle
/Laba31/local.properties
/Laba31/.idea/caches
/Laba31/.idea/libraries
/Laba31/.idea/modules.xml
/Laba31/.idea/workspace.xml
/Laba31/.idea/navEditor.xml
/Laba31/.idea/assetWizardSettings.xml
/Laba31/.DS_Store
/Laba31/build
/Laba31/captures
/Laba31/.externalNativeBuild
/Laba31/.cxx

/Laba32/.gradle
/Laba32/local.properties
/Laba32/.idea/caches
/Laba32/.idea/libraries
/Laba32/.idea/modules.xml
/Laba32/.idea/workspace.xml
/Laba32/.idea/navEditor.xml
/Laba32/.idea/assetWizardSettings.xml
/Laba32/.DS_Store
/Laba32/build
/Laba32/captures
/Laba32/.externalNativeBuild
/Laba32/.cxx

/Laba33/.gradle
/Laba33/local.properties
/Laba33/.idea/caches
/Laba33/.idea/libraries
/Laba33/.idea/modules.xml
/Laba33/.idea/workspace.xml
/Laba33/.idea/navEditor.xml
/Laba33/.idea/assetWizardSettings.xml
/Laba33/.DS_Store
/Laba33/build
/Laba33/captures
/Laba33/.externalNativeBuild
/Laba33/.cxx

/Laba34/.gradle
/Laba34/local.properties
/Laba34/.idea/caches
/Laba34/.idea/libraries
/Laba34/.idea/modules.xml
/Laba34/.idea/workspace.xml
/Laba34/.idea/navEditor.xml
/Laba34/.idea/assetWizardSettings.xml
/Laba34/.DS_Store
/Laba34/build
/Laba34/captures
/Laba34/.externalNativeBuild
/Laba34/.cxx

/Laba35/.gradle
/Laba35/local.properties
/Laba35/.idea/caches
/Laba35/.idea/libraries
/Laba35/.idea/modules.xml
/Laba35/.idea/workspace.xml
/Laba35/.idea/navEditor.xml
/Laba35/.idea/assetWizardSettings.xml
/Laba35/.DS_Store
/Laba35/build
/Laba35/captures
/Laba35/.externalNativeBuild
/Laba35/.cxx

/Laba36/.gradle
/Laba36/local.properties
/Laba36/.idea/caches
/Laba36/.idea/libraries
/Laba36/.idea/modules.xml
/Laba36/.idea/workspace.xml
/Laba36/.idea/navEditor.xml
/Laba36/.idea/assetWizardSettings.xml
/Laba36/.DS_Store
/Laba36/build
/Laba36/captures
/Laba36/.externalNativeBuild
/Laba36/.cxx

/Laba37/.gradle
/Laba37/local.properties
/Laba37/.idea/caches
/Laba37/.idea/libraries
/Laba37/.idea/modules.xml
/Laba37/.idea/workspace.xml
/Laba37/.idea/navEditor.xml
/Laba37/.idea/assetWizardSettings.xml
/Laba37/.DS_Store
/Laba37/build
/Laba37/captures
/Laba37/.externalNativeBuild
/Laba37/.cxx

/Laba38/.gradle
/Laba38/local.properties
/Laba38/.idea/caches
/Laba38/.idea/libraries
/Laba38/.idea/modules.xml
/Laba38/.idea/workspace.xml
/Laba38/.idea/navEditor.xml
/Laba38/.idea/assetWizardSettings.xml
/Laba38/.DS_Store
/Laba38/build
/Laba38/captures
/Laba38/.externalNativeBuild
/Laba38/.cxx

/Laba39/.gradle
/Laba39/local.properties
/Laba39/.idea/caches
/Laba39/.idea/libraries
/Laba39/.idea/modules.xml
/Laba39/.idea/workspace.xml
/Laba39/.idea/navEditor.xml
/Laba39/.idea/assetWizardSettings.xml
/Laba39/.DS_Store
/Laba39/build
/Laba39/captures
/Laba39/.externalNativeBuild
/Laba39/.cxx

/Laba40/.gradle
/Laba40/local.properties
/Laba40/.idea/caches
/Laba40/.idea/libraries
/Laba40/.idea/modules.xml
/Laba40/.idea/workspace.xml
/Laba40/.idea/navEditor.xml
/Laba40/.idea/assetWizardSettings.xml
/Laba40/.DS_Store
/Laba40/build
/Laba40/captures
/Laba40/.externalNativeBuild
/Laba40/.cxx

/Laba41/.gradle
/Laba41/local.properties
/Laba41/.idea/caches
/Laba41/.idea/libraries
/Laba41/.idea/modules.xml
/Laba41/.idea/workspace.xml
/Laba41/.idea/navEditor.xml
/Laba41/.idea/assetWizardSettings.xml
/Laba41/.DS_Store
/Laba41/build
/Laba41/captures
/Laba41/.externalNativeBuild
/Laba41/.cxx

/Laba42/.gradle
/Laba42/local.properties
/Laba42/.idea/caches
/Laba42/.idea/libraries
/Laba42/.idea/modules.xml
/Laba42/.idea/workspace.xml
/Laba42/.idea/navEditor.xml
/Laba42/.idea/assetWizardSettings.xml
/Laba42/.DS_Store
/Laba42/build
/Laba42/captures
/Laba42/.externalNativeBuild
/Laba42/.cxx